.textTitle {
    padding-top: 5vh;
    font-weight: normal;
    font-size: max(4.5vh, 36px) ;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.textSubtitle {
    font-size: max(2vh, 21px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3vh;
  }

.container {
  height: calc(100% - 10vh - 18px - (10vh + 18px + 4px));
  padding-bottom: calc(10vh + 18px + 4px);
  width: 100%;
  position: fixed;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} 

.progressBarWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3vh;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
}

.progressbar{
  width: 45vw;
  height: 3vw;
  border-radius: 1vh;
  padding: 0.5vh;
  background-color: #eee;
  position: relative;
  display: flex;
  align-items: center;
}

.first{
  height: 2.5vw;
  width: calc(37/113*100%);
  border-radius: 1vh;
  position: absolute;
  background-color: #339989;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second{
  height: 2.5vw;
  width: calc(62/113*100%);
  border-radius: 1vh;
  position: absolute;
  background-color: #3db8a5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: calc(37/113*100%);
}

.bottomContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3vh;
  margin: 0;
  position: relative;
  box-sizing: inherit;
}

.firstCard {
  width: 33vh;
  height: 22vh;
  background-color: #339989;
  border-radius: 1vh;
  overflow: hidden;
  box-shadow: 0 0 1vh rgba(0, 0, 0, 0.2);
  position: relative;
  transition: transform 0.3s;
}

.secondCard {
  width: 33vh;
  height: 22vh;
  background-color: #3db8a5;
  border-radius: 1vh;
  overflow: hidden;
  box-shadow: 0 0 1vh rgba(0, 0, 0, 0.2);
  position: relative;
  transition: transform 0.3s;
}

.cardContent {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.cardText {
  font-size: 24px;
  margin: 0;
}

.hoverContent {
  display: none;
  text-align: center;
}

.firstCard:hover {
  transform: scale(1.05);
}

.secondCard:hover {
  transform: scale(1.05);
}

.firstCard:hover .hoverContent {
  display: block;
}

.firstCard:hover .preCardTextSubtitle {
  display: none;
}

.secondCard:hover .hoverContent {
  display: block;
}

.secondCard:hover .preCardTextSubtitle {
  display: none;
}

.cardTextSubtitle {
  font-size: max(1vw, 16px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5vw;
  color: #dedede; 
}
 
.preCardTextSubtitle {
  font-size: max(1vw, 25px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.textList {
  margin-top: 0.1vh;
  font-size: max(0.65vw, 13px);
  text-align: center;
  color: #dedede;
}