.eqi_container {

    position:absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: auto;
    background-color: #131515;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
  }

.eqi_container div {
    
    font-size: 18px;
    color: #dedede;
    margin-top: max(1px, 5vh);
    margin-bottom: max(1px, 5vh);
    background: #131515;
    justify-content: center;
    display: flex;
    flex-grow: 1;
  }

  @media (max-width: 768px) { 
    /* Styles for screens smaller than 768px (adjust as needed) */
    .eqi_container {
      display: none; /* Hide the image container on smaller screens */
    }
  }