.item {
    width: 190px;
    height: 219.393095px;
    background-color:   #dedede;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.honey{
    margin:auto;
}
.honey img{
    height:140px;
}
.row_1{
    display: grid;
    justify-content: center;
    grid-template-columns: 200px 200px 200px 200px;
}
.row_2{
    display: grid;
    justify-content: center;
    grid-template-columns   : 200px 200px 200px 200px 200px;
    margin: -45px 0 0 0px;
}
.row_3{
    display: grid;
    justify-content: center;
    grid-template-columns: 200px 200px 200px 200px;  
    margin: -45px 0 0 0px;
}
.row_4{
    display: grid;
    justify-content: center;
    grid-template-columns: 200px 200px 200px;
    margin: -45px 0 0 0px;
}