.item {
    width: 95%;
    height: 100%;
    background-color:   #dedede;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s;
    padding: 15%;
}
.honey{
    margin:auto;
}
.honey img{
    max-width: 100%;
}
.row_1{
    display: grid;
    justify-content: center;
    grid-template-columns: 10rem 10rem 10rem 10rem;
    grid-column-gap: 0.5rem;
}
.row_2{
    display: grid;
    justify-content: center;
    grid-template-columns: 10rem 10rem 10rem 10rem 10rem;
    grid-column-gap: 0.5rem;
    margin: -1.5rem 0 0 0;
}
.row_3{
    display: grid;
    justify-content: center;
    grid-template-columns: 10rem 10rem 10rem 10rem;  
    grid-column-gap: 0.5rem;
    margin: -1.5rem 0 0 0;
}
.row_4{
    display: grid;
    justify-content: center;
    grid-template-columns: 10rem 10rem 10rem 10rem 10rem;
    grid-column-gap: 0.5rem;
    /* margin: calc(0.6303vw - 7.2727vw*0.2885) 0 0 0px; */
    margin: -1.5rem 0 0 0;
}
.item:hover {
  transform: scale(0.90);
}

@media only screen and (max-width: 768px) {
    .row_1 {
        display: flex;
        flex-wrap: wrap;
        grid-template-columns: unset;
        margin-bottom: 1.5rem;
    }
    .row_2 {
        display: flex; 
        flex-wrap: wrap; 
        grid-template-columns: unset; 
        margin-bottom: 1.5rem;
      }
    .row_3 {
        display: flex; 
        flex-wrap: wrap; 
        grid-template-columns: unset; 
        margin-bottom: 1.5rem;
      }
    .row_4 {
        display: flex; 
        flex-wrap: wrap; 
        grid-template-columns: unset; 
        margin-bottom: 1.5rem;
    }
    .item {
        width: 80%;
        margin: 1.5rem 0 2rem 0;
        height: 100%;
        background-color:   #dedede;
        clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.5s;
        padding: 15%;
        border-radius: 1rem;
    }
    .honey{
        margin: auto;
        flex-wrap: wrap;
    }
  }