.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.progressbar{
	width: 60vh;
	height: 5vh;
    border-radius: 1vh;
    padding: 0.5vh;
	background-color: #eee;
    position: relative;
}

.first{
    height: 4vh;
    width: calc(16/141*100%);
    border-radius: 1vh;
    position: absolute;
    background-color: #339989;
    z-index: 9999;
}

.second{
    height: 4vh;
    width: calc(40/141*100%);
    border-radius: 1vh;
    position: absolute;
    background-color: #3db8a5;
}

