.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.progressbar{
	width: 45vw;
	height: 3vw;
    border-radius: 1vh;
    padding: 0.5vh;
	background-color: #eee;
    position: relative;
    display: flex;
    align-items: center;
}

.first{
    height: 2.5vw;
    width: calc(37/113*100%);
    border-radius: 1vh;
    position: absolute;
    background-color: #339989;
    z-index: 9999;
}

.second{
    height: 2.5vw;
    width: calc(62/113*100%);
    border-radius: 1vh;
    position: absolute;
    background-color: #3db8a5;
}
