.textTitle {
    padding-top: 5vh;
    font-weight: normal;
    font-size: max(4.5vh, 36px) ;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    padding-bottom: calc(10vh + 18px + 4px);
    width: 100%;
    position: relative;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  } 

  .project {
    padding: 2vw;
    background-color: #dedede;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1vh;
    margin-top: 6vh;
    width: 140vh;
    height: 55vh;
  }

  .projectTitle {
    font-weight: bold;
    color:#1E1E1E;
    /* color: #dedede; */
    font-size: max(2vh, 20px) ;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .elementsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
  }

  .imageContainer img{
    max-width: 60vh;
    border-radius: 1vh;
  }

  .textContainer {
    font-weight: normal;
    color:#1E1E1E;
    /* color: #dedede; */
    font-size: max(2vh, 12px) ;
    max-width: 60vh;
  }

  .elementsContainer div{
    margin-left: 1vw;
    margin-right: 1vw;
  }


